<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Abbaqus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;background:#fff;width: 100%;line-height: 25px;font-size:15px;">

    <!-- HEADER -->
 <table align="center" style="max-width:600px;color:#999999;padding:0 40px;line-height:150%;font-family:Source Sans Pro,Segoe,Segoe UI,DejaVu Sans,Trebuchet MS,Verdana,sans-serif" width="100%">
  <tbody>
    <tr>
      <td>
      <p style="width: 100%;text-align: center;"><img src="https://res.cloudinary.com/djoztpm50/image/upload/v1545290491/Welcome_logo_bfzg5d.png" class="CToWUd a6T" tabindex="0" style="width: 400px;"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 737.563px; top: 583px;"><div id=":r6" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div></p>

      <p>Dear <strong><%= userFirstname %></strong>,<br> 
      Thank you for joining Abbaqus.</p>  

      <p>You are now part of community of researchers, subject matter experts and professionals using
        <span>Abbaqus</span> everyday to share knowledge, gain insights and collaborate.</p>

      <p>While we are trying every bit to create the best possible platform for you suited to your unique needs and pain-points, we don’t claim to be perfect. Your support and feedback are important to us.
      </p>

      <p>Please help us create a meaningful platform for researchers by sending comments and suggestions to <a href="#" style="color:rgb(11,125,184);text-decoration:none" rel="noreferrer" target="_blank">feedback@<span>abbaqus</span>.com</a>.</p>

      <p>To get started, you could log in to <a href="https://abbaqus.com/" style="color:rgb(11,125,184);text-decoration:none" rel="noreferrer" target="_blank"><span>abbaqus</span>.com</a>, start adding   topics of your areas of interests and admire people you think are experts and whose recommendations are valuable to you. <br></p>

      <p>Yours sincerely,<br>
      <strong>Team Abbaqus</strong></p>

      <p style="color:#fff;background:#e16251;padding:10px 40px;font-family:Source Sans Pro,Segoe,Segoe UI,DejaVu Sans,Trebuchet MS,Verdana,sans-serif;line-height:150%;text-align:center;font-size:12px"><span>Nobody ever figures out what life is all about, and it doesn't matter. Explore the world. Nearly everything is really interesting if you go into it deeply enough.</span><br>
      - Richard P. Feynman</p>
      </td>
    </tr>
  </tbody>
</table>
</body>

</html>

